@model CoverType

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <input asp-for="Id" hidden />
        <div class="row pb-2">
            <div asp-validation-summary="All"></div>
            <h2 class="text-primary">
                Delete cover type.
                <hr/>
            </h2>
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" disabled/>
            </div>
            <button type="submit" class="btn btn-outline-danger" style="width:150px; margin-left:12px">Delete</button>
            <a asp-controller="CoverType" asp-action="Index" class="btn btn-outline-secondary" style="width:150px; margin-left:12px">Back to list.</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}